In [1]:
import pandas as pd
import os

username = os.path.expanduser('~')

In [30]:
data=pd.read_csv(fr"{username}\Downloads\mudah-apartment-kl-selangor.csv\mudah-apartment-kl-selangor.csv")

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19991 entries, 0 to 19990
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ads_id                 19991 non-null  int64
 1   prop_name              19043 non-null  object
 2   completion_year        10806 non-null  float64
 3   monthly_rent           19989 non-null  object
 4   location               19991 non-null  object
 5   property_type          19991 non-null  object
 6   rooms                  19985 non-null  object
 7   parking                14289 non-null  float64
 8   bathroom               19985 non-null  float64
 9   size                   19991 non-null  object
 10  furnished              19986 non-null  object
 11  facilities             17782 non-null  object
 12  additional_facilities  14043 non-null  object
 13  region                 19991 non-null  object
dtypes: float64(3), int64(1), object(10)
memory usage: 2.1+ MB

In [8]:
 data.columns

Index(['ads_id', 'prop_name', 'completion_year', 'monthly_rent', 'location',
       'property_type', 'rooms', 'parking', 'bathroom', 'size', 'furnished',
       'facilities', 'additional_facilities', 'region'],
      dtype='object')

In [9]:
data['prop_name'].unique()

array(['The Hipster @ Taman Desa', 'Segar Courts',
       'Pangsapuri Teratak Muhibbah 2', ...,
       'Pangsapuri Desa Mas Taman Desa Mas Bandar Country Homes',
       'Pangsapuri Meru Ehsan', 'Residensi Lili'], dtype=object)

In [13]:
data['prop_name'].nunique()

2826

In [14]:
data['region'].unique()

array(['Kuala Lumpur', 'Selangor'], dtype=object)

In [17]:
data['furnished'].unique()

array(['Fully Furnished', 'Partially Furnished', 'Not Furnished', nan],
      dtype=object)

In [21]:
data = data.dropna(subset=['monthly_rent'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19989 entries, 0 to 19990
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ads_id                 19989 non-null  int64
 1   prop_name              19042 non-null  object
 2   completion_year        10806 non-null  float64
 3   monthly_rent           19989 non-null  object
 4   location               19989 non-null  object
 5   property_type          19989 non-null  object
 6   rooms                  19983 non-null  object
 7   parking                14288 non-null  float64
 8   bathroom               19983 non-null  float64
 9   size                   19989 non-null  object
 10  furnished              19986 non-null  object
 11  facilities             17780 non-null  object
 12  additional_facilities  14043 non-null  object
 13  region                 19989 non-null  object
dtypes: float64(3), int64(1), object(10)
memory usage: 2.3+ MB

In [26]:


# Find rows where 'bathroom' or 'rooms' is null
null_data = data[data[['bathroom', 'rooms']].isna().any(axis=1)]


# Drop rows where 'bathroom' or 'rooms' is null
data = data.dropna(subset=['bathroom', 'rooms'])

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19983 entries, 0 to 19990
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ads_id                 19983 non-null  int64
 1   prop_name              19042 non-null  object
 2   completion_year        10806 non-null  float64
 3   monthly_rent           19983 non-null  object
 4   location               19983 non-null  object
 5   property_type          19983 non-null  object
 6   rooms                  19983 non-null  object
 7   parking                14286 non-null  float64
 8   bathroom               19983 non-null  float64
 9   size                   19983 non-null  object
 10  furnished              19983 non-null  object
 11  facilities             17777 non-null  object
 12  additional_facilities  14039 non-null  object
 13  region                 19983 non-null  object
dtypes: float64(3), int64(1), object(10)
memory usage: 2.3+ MB

In [29]:
data=data[['ads_id','monthly_rent','location','property_type','rooms','bathroom','size','furnished','region']]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19983 entries, 0 to 19990
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ads_id         19983 non-null  int64
 1   monthly_rent   19983 non-null  object
 2   location       19983 non-null  object
 3   property_type  19983 non-null  object
 4   rooms          19983 non-null  object
 5   bathroom       19983 non-null  float64
 6   size           19983 non-null  object
 7   furnished      19983 non-null  object
 8   region         19983 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 1.5+ MB